.links{
    display: flex;
    justify-content:space-evenly;
}

.images{
    display: flex;
    justify-content:space-evenly;
    border-color:#135694;
}

body{
    background-color:#abcdef;
}